.xvideo {
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}
.xvideo-wrapper {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    cursor: pointer;
}
.xvideo-start-frame,
.xvideo-end-frame,
.xvideo-video,
.xvideo-video iframe,
.xvideo-blackout {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.xvideo-start-frame { z-index: 2 }
.xvideo-end-frame {
    visibility: hidden;
    z-index: 2;
}
.xvideo-blackout {
    z-index: 1;
    background: #000;
}
.xvideo-video {
    height: auto;
    padding-bottom: 56.25%;
}
.xvideo-video iframe {
    overflow: hidden;
    width: 0;
    height: 0;
    background: transparent;
}
.xvideo-wrapper,
.xvideo-start-frame,
.xvideo-end-frame,
.xvideo-blackout {
    -webkit-transition: .75s ease-out;
    transition: .75s ease-out;
    -webkit-transition-property: padding,opacity,visibility;
    transition-property: padding,opacity,visibility;
}
.xvideo-blackout {
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}
.xvideo-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    padding: 0;
    margin-top: -32.5px;
    margin-left: -32.5px;
    cursor: pointer;
    border: 0;
    background: 0 0;
}
.xvideo-play-button.left { left: 25% }
.xvideo-play-button.right { left: 75% }
.xvideo-play-button {
    background-image: url(/images/guides/cloud/play_icon.png);
    background-repeat: no-repeat;
    background-size: 64px 130px;
    background-position: top left;
}
.xvideo-wrapper:hover .xvideo-play-button { background-position: 0 -65px }
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.xvideo-play-button { background-image: url(/images/guides/cloud/play_icon2x.png) }
}
.xvideo-slidedown .xvideo-wrapper { padding-bottom: 28.125% }
.xvideo-slidedown.xvideo-open .xvideo-wrapper { padding-bottom: 56.25% }
.xvideo-no-border { border: 0 }
.xvideo-fade {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .75s ease-out;
    transition: .75s ease-out;
    -webkit-transition-property: opacity,visibility;
    transition-property: opacity,visibility;
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}
.xvideo-fade .xvideo-wrapper { padding-bottom: 0 }
.xvideo-fade .xvideo-blackout { opacity: .01 }
.xvideo-fade.xvideo-end {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.xvideo-fade.xvideo-open {
    visibility: visible;
    opacity: 1;
}
.xvideo-fade-element {
    float: left;
    max-height: 1000px;
    margin-right: -125%;
}
.xvideo-fade-loaded {
    -webkit-transition: 1.125s ease-out;
    transition: 1.125s ease-out;
    -webkit-transition-property: opacity,visibility,max-height;
    transition-property: opacity,visibility,max-height;
}
.xvideo-fade-open {
    max-height: 155px;
    visibility: hidden;
    opacity: 0;
}
.xvideo-fade-end {
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}
@media (max-width:767px) { 
	.enableFluid .xvideo-fade-element {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    width: 100%;
	}
}
.xvideo { display: none }
.xvideo.xvideo-loaded { display: block }
.xvideo-open .xvideo-start-frame,
.xvideo-open .xvideo-end-frame,
.xvideo-open .xvideo-blackout {
    opacity: 0;
    visibility: hidden;
}
.xvideo-open .xvideo-video iframe {
    width: 100%;
    height: 100%;
}
.xvideo-end .xvideo-wrapper,
.xvideo-end .xvideo-start-frame,
.xvideo-end .xvideo-end-frame {
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}
.xvideo-end .xvideo-video iframe {
    -webkit-transition: 0s ease-out;
    transition: 0s ease-out;
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
    -webkit-transition-property: width,height;
    transition-property: width,height;
}
.xvideo-end .xvideo-blackout {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.xvideo-end .xvideo-start-frame { visibility: hidden }
.xvideo-end .xvideo-end-frame { visibility: visible }
.xvideo-end.xvideo-start-only .xvideo-start-frame { visibility: visible }
.xvideo-end.xvideo-start-only .xvideo-end-frame { visibility: hidden }
@media (max-width:480px) { 
	.xvideo { border-width: 5px }
	.xvideo-slidedown .xvideo-wrapper { padding-bottom: 37.5% }
}
.carousel { position: relative }
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-inner>.item {
    display: none;
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}
.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev { display: block }
.carousel-inner>.active { left: 0 }
.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner>.next { left: 100% }
.carousel-inner>.prev { left: -100% }
.carousel-inner>.next.left,
.carousel-inner>.prev.right { left: 0 }
.carousel-inner>.active.left { left: -100% }
.carousel-inner>.active.right { left: 100% }
.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-control.left {
    background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
}
.carousel-control .icon-prev:before { content: '\2039' }
.carousel-control .icon-next:before { content: '\203a' }
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff;
}
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption .btn { text-shadow: none }
@media screen and (min-width:768px) { 
	.carousel-control .icon-prev,
	.carousel-control .icon-next {
	    width: 30px;
	    height: 30px;
	    margin-top: -15px;
	    margin-left: -15px;
	    font-size: 30px;
	}
	.carousel-caption {
	    left: 20%;
	    right: 20%;
	    padding-bottom: 30px;
	}
	.carousel-indicators { bottom: 20px }
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in { opacity: 1 }
.collapse { display: none }
.collapse.in { display: block }
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control { z-index: 2 }
#global-header.global-header-dark {
    padding-top: 18px;
    padding-bottom: 18px;
}
#global-header.global-header-dark .global-header-tagline { display: none }
.main { min-width: 940px }
.hero {
    padding-bottom: 30px;
    margin-top: 30px;
    -webkit-transition-property: margin-top;
    transition-property: margin-top;
}
.hero,
.hero .heading-wrapper,
.hero .carousel {
    -webkit-transition: .75s ease-out;
    transition: .75s ease-out;
}
.hero .heading-wrapper {
    *zoom: 1;
    margin-bottom: 39px;
    -webkit-transition-property: margin-bottom;
    transition-property: margin-bottom;
}
.hero .heading-wrapper:before,
.hero .heading-wrapper:after {
    content: " ";
    display: table;
}
.hero .heading-wrapper:after { clear: both }
.hero .heading {
    float: left;
    margin: 0;
    color: #fff;
    font-size: 36px;
}
.hero .cta-button {
    float: right;
    margin-top: .1em;
}
.hero .carousel {
    margin-bottom: 25px;
    -webkit-transition-property: margin-bottom;
    transition-property: margin-bottom;
}
.hero .carousel.single .xvideo-start-frame .caption { margin-left: 65px }
.hero .carousel.single .carousel-control,
.hero .carousel.single .carousel-indicators { display: none }
.hero .carousel.video-open .carousel-control {
    opacity: 0;
    visibility: hidden;
}
.hero .carousel .carousel-inner { border-radius: 6px }
.hero .carousel .item { min-height: 310px }
.hero .carousel .carousel-control {
    display: inline-block;
    z-index: 10;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    width: 10%;
    padding: 0;
    border: 0;
    background: transparent;
    -webkit-transition: .75s ease-out;
    transition: .75s ease-out;
    -webkit-transition-property: opacity,visibility;
    transition-property: opacity,visibility;
}
.hero .carousel .carousel-control .target {
    display: inline-block;
    width: 30px;
    height: 50px;
    line-height: 52px;
    border: 0;
    border-radius: 4px;
    background: #3c3e44;
    background: rgba(50,52,57,.8);
    text-align: center;
}
.hero .carousel .carousel-control:hover,
.hero .carousel .carousel-control:focus { outline: 0 }
.hero .carousel .carousel-control:hover .target,
.hero .carousel .carousel-control:focus .target { background: #323439 }
.hero .carousel .carousel-control.left { text-align: left }
.hero .carousel .carousel-control.left .target {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.hero .carousel .carousel-control.left .arrow { margin-right: 4px }
.hero .carousel .carousel-control.right { text-align: right }
.hero .carousel .carousel-control.right .target {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.hero .carousel .carousel-control.right .arrow { margin-left: 4px }
.hero .carousel .carousel-control .arrow { display: inline-block }
.hero .carousel .carousel-indicators {
    top: 100%;
    font-size: 0;
}
.hero .carousel .indicator {
    width: 8px;
    height: 8px;
    padding: 0;
    margin-top: 15px;
    margin-left: 12px;
    border: 0;
    border-radius: 100%;
    background: #757575;
}
.hero .carousel .indicator.active,
.hero .carousel .indicator:hover,
.hero .carousel .indicator:focus {
    outline: 0;
    background: #a5a5a5;
}
.hero .carousel .indicator:first-child { margin-left: 0 }
.hero .xvideo {
    border: 0;
    border-radius: 0;
}
.hero .xvideo-wrapper { padding-bottom: 32.9% }
.hero .app-links {
    display: none;
    padding-top: 30px;
    text-align: center;
}
.hero .app-links .button {
    display: inline-block;
    width: 240px;
    padding: 6px 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    line-height: 32px;
    border-radius: 4px;
    background-color: #565960;
    background-image: -webkit-linear-gradient(top,#5c5f67,#4d5057);
    background-image: linear-gradient(to bottom,#5c5f67,#4d5057);
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    color: #fff;
    font-family: National;
}
.hero .app-links .button:hover,
.hero .app-links .button:focus { background: #54575f }
.hero .app-links .button:active {
    background-color: #53565d;
    background-image: -webkit-linear-gradient(top,#4d5057,#5c5f67);
    background-image: linear-gradient(to bottom,#4d5057,#5c5f67);
}
.hero .app-links .button:first-child { margin: 0 }
.hero .app-links .button strong {
    font-family: National-Semibold;
    font-weight: 400;
}
.hero .app-links .button .circle {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    background: #45474d;
    border-radius: 200px;
}
.hero .app-links .button .logo-iphone { margin-top: -2px }
.hero .mobile-video .xvideo-start-frame:before,
.hero .treehouse-video .xvideo-start-frame:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.hero .mobile-video .caption,
.hero .treehouse-video .caption {
    display: inline-block;
    vertical-align: middle;
    margin-left: 85px;
    color: #fff;
    font: 24px/1.1 National;
    text-shadow: 0 0 8px rgba(0,0,0,.8);
}
.hero .mobile-video .label {
    margin-top: 1em;
    font-size: 14px;
    text-transform: uppercase;
}
.hero .mobile-video .button {
    display: inline-block;
    width: 80px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 19px;
    border-radius: 4px;
    background-color: #edeef1;
    background-image: -webkit-linear-gradient(top,#fff,#d4d6dc);
    background-image: linear-gradient(to bottom,#fff,#d4d6dc);
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
    color: #45474d;
    font-family: National;
    font-size: 15px;
    text-shadow: none;
}
.hero .mobile-video .button:hover,
.hero .mobile-video .button:focus { background: #e9eaed }
.hero .mobile-video .button:active {
    background-color: #e5e6ea;
    background-image: -webkit-linear-gradient(top,#d4d6dc,#fff);
    background-image: linear-gradient(to bottom,#d4d6dc,#fff);
}
.hero .mobile-video .button .logo {
    float: left;
    margin-right: 10px;
}
.hero .treehouse-video .watch-video {
    font-family: National-Semibold;
    font-size: 15px;
    text-transform: uppercase;
}
.hero .do-beautiful-business {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -154.5px;
    text-align: center;
}
.hero .do-beautiful-business .button {
    display: inline-block;
    position: relative;
    top: -119.5px;
    padding: .6em 1.2em;
    border-radius: 6px;
    background: #1a90c0;
    color: #fff;
    font-family: National;
    font-size: 14px;
    line-height: 1;
}
.hero .do-beautiful-business:hover .button,
.hero .do-beautiful-business:focus .button { background: #177faa }
.featured-links {
    padding: 8px 0 20px;
    background: #f5f6f8;
    text-align: center;
    font-size: 15px;
}
.featured-links b {
    display: block;
    color: #45474d;
    font: 400 20px/0.9 National;
}
.featured-links a { display: inline-block }
.featured-links a:hover b,
.featured-links a:focus b { color: #000 }
.featured-links img { margin-bottom: 5px }
.features {
    background: #fff;
    text-align: center;
}
.features p { margin: .5em }
.features .b-container { overflow: hidden }
.features .b-row {
    padding: 75px 0;
    border-top: 2px solid #f7f8fa;
}
.features .b-row:first-child {
    padding-top: 65px;
    border: 0;
}
.features .b-row.last { padding-bottom: 0 }
.features .case-studies>p { margin: 0 }
.features .case-studies a { display: inline-block }
.features .case-studies .link {
    display: block;
    color: inherit;
}
.features .quote { display: inline-block }
.features .quote blockquote {
    position: relative;
    height: 76px;
    padding: 30px;
    margin: 0;
    border-radius: 4px;
    background: #eef1f5;
    color: #656c75;
    font-size: 0;
}
.features .quote blockquote:after {
    content: '';
    position: absolute;
    right: 15%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 25px 0 0;
    border-color: #eef1f5 transparent transparent;
}
.features .quote blockquote:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.features .quote blockquote p {
    display: inline-block;
    vertical-align: middle;
    width: 95%;
    font-size: 16px;
    margin: 0;
}
.features .heading {
    margin-top: 0;
    font-size: 34px;
}
.features .description {
    color: #656c75;
    font-size: 17px;
}
.features .link {
    margin: 0;
    margin-top: .5em;
    color: #989ea6;
    font-size: 14px;
}
.features .one .link { margin-top: 1em }
.features .seven .heading { margin-top: 30px }
#global-header.global-header-dark .global-header-logo {
    width: 54px;
    height: 54px;
    background-image: url(/images/logos/logo-blue-large.png);
    background-size: 108px 54px;
    background-position: left top;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	#global-header.global-header-dark .global-header-logo { background-image: url(../img/netikalogo-large-2x.png) }
}
#global-header.global-header-dark .global-header-logo:hover,
#global-header.global-header-dark .global-header-logo:focus { background-position: right top }
.hero .xvideo-play-button {
    width: 78px;
    height: 78px;
    margin-top: -39px;
    margin-left: -39px;
    background-image: url(../img/sprite.png);
    background-size: 224px 128px;
    background-position: -64px 0;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.hero .xvideo-play-button { background-image: url(../img/sprite-2x.png) }
}
.hero .xvideo-wrapper:hover .xvideo-play-button {
    opacity: .7;
    background-position: -64px 0;
}
.hero .carousel .carousel-control .arrow {
    width: 8px;
    height: 16px;
    background-image: url(../img/sprite.png);
    background-size: 224px 128px;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.hero .carousel .carousel-control .arrow { background-image: url(../img/sprite-2x.png) }
}
.hero .carousel .carousel-control.left .arrow { background-position: 0 0 }
.hero .carousel .carousel-control.right .arrow { background-position: -32px 0 }
.hero .mobile-video .xvideo-start-frame { background: url(../img/netis-mainpage.jpg) }
.hero .mobile-video .logo { display: inline-block }
.hero .mobile-video .logo-iphone {
    width: 15px;
    height: 17px;
    background-image: url(../img/apple-android-logos.png);
    background-size: 64px 64px;
    background-position: -8px -6px;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.hero .mobile-video .logo-iphone { background-image: url(../img/apple-android-logos-2x.png) }
}
.hero .mobile-video .logo-android {
    width: 15px;
    height: 18px;
    background-image: url(../img/apple-android-logos.png);
    background-size: 64px 64px;
    background-position: -40px -5px;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.hero .mobile-video .logo-android { background-image: url(../img/apple-android-logos-2x.png) }
}
.hero .app-links .button .logo {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 23px;
}
.hero .app-links .button .logo-iphone {
    background-image: url(../img/apple-android-logos.png);
    background-size: 64px 64px;
    background-position: -5px -36px;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.hero .app-links .button .logo-iphone { background-image: url(../img/apple-android-logos-2x.png) }
}
.hero .app-links .button .logo-android {
    background-image: url(../img/apple-android-logos.png);
    background-size: 64px 64px;
    background-position: -37px -37px;
}
@media print,(-o-min-device-pixel-ratio:5 / 4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) { 
	.hero .app-links .button .logo-android { background-image: url(../img/apple-android-logos-2x.png) }
}
@media (max-height:767px) { 
	.hero { margin-top: 20px }
	.hero .heading-wrapper { margin-bottom: 30px }
	.hero .carousel .item { min-height: 282px }
	.hero .xvideo-wrapper { padding-bottom: 30% }
	.promo-bar-shown .carousel .item { min-height: 263px }
	.promo-bar-shown .xvideo-wrapper { padding-bottom: 28% }
	.featured-links { padding: 3px 0 15px }
	.features .b-row {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.features .b-row:first-child { padding-top: 55px }
}
.promo-bar {
    min-height: 96px;
    background: #323439;
}
.region-au .promo-bar a {
    margin: 0 auto;
    width: 600px;
    padding-left: 169px;
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    line-height: 96px;
    color: #1EB7E0;
    color: #fff;
    font-weight: 400;
    background: url(/media/381618/grow_icon.png) no-repeat 0 12px;
    font-size: 14px;
    font-weight: 400;
}
.region-us .promo-bar,
.region-uk .promo-bar { background: #E7EAEE }
.region-uk .promo-bar a {
    margin: 0 auto;
    padding-left: 223px;
    font-family: Helvetica,Arial,sans-serif;
    width: 690px;
    display: block;
    line-height: 96px;
    color: #35373d;
    font-weight: 400;
    background: url(/media/446258/xerocon-uk.png) 0 no-repeat;
    font-size: 14px;
    font-weight: 400;
}
.region-us .promo-bar a {
    margin: 0 auto;
    padding-left: 223px;
    font-family: Helvetica,Arial,sans-serif;
    width: 690px;
    display: block;
    line-height: 96px;
    color: #35373d;
    font-weight: 400;
    background: url(/media/400029/xerocon_promo.jpg) 0 no-repeat;
    font-size: 14px;
    font-weight: 400;
}
.region-us .promo-bar .button,
.region-uk .promo-bar .button {
    background: #00B7E2;
    padding: 11px 27px;
    border-radius: 4px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-left: 67px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.region-us .promo-bar .button:hover,
.region-uk .promo-bar .button:hover { background: #0095B8 }
.region-au .promo-bar .left { font-weight: 400 }
.region-au .promo-bar .button {
    background: #4D5057;
    padding: 14px 18px;
    border-radius: 4px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.region-au .promo-bar .button strong {
    font-family: National-Semibold;
    font-weight: 400;
}
.region-au .promo-bar .button:hover { background: #53575E }
.region-nz .promo-bar a,
.region-int .promo-bar a {
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    line-height: 96px;
    color: #1EB7E0;
    background: url(/media/221405/eofy_banner_icon.png) no-repeat 200px 25px;
    font-size: 14px;
    font-weight: 700;
}
.region-nz .promo-bar a:hover,
.region-int .promo-bar a:hover { text-decoration: none }
.promo-bar .column {
    width: 100%;
    text-align: center;
    margin-left: 27px;
}
.promo-bar .left { float: left }
.region-au .promo-bar .right { float: right }
.promo-bar .moretext {
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding-bottom: 2px;
    border-bottom: 1px solid #444A52;
    margin-left: 3px;
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2 / 1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) { 
	.region-uk .promo-bar a {
	    background: url(/media/446263/xerocon-uk-2x.png) 0 no-repeat;
	    background-size: 158px 44px;
	}
	.region-us .promo-bar a {
	    background: url(/media/446700/xerocon2x.png) 0 no-repeat;
	    background-size: 161px 55px;
	}
}