<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/Tlece-4E451D01-5908-4125-AA6F-4659332FFD6E.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>32385533</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>32385533</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>107283942</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>107283942</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone6,2</string>
					<key>os-version</key>
					<string>11.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod7,1</string>
					<key>os-version</key>
					<string>11.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>11.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,1</string>
					<key>os-version</key>
					<string>11.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,2</string>
					<key>os-version</key>
					<string>11.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>11.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Tlece-B5324C19-DEB2-4D74-8FD8-1859AF436821.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>31562156</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>31562156</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>106446118</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>106446118</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod7,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Tlece-C25BA209-27AA-4E8C-8F2D-B416A66128EB.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>28948380</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>28948380</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>98146257</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>98146257</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone7,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod7,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
