<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tlece.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
				<key>dateExpires</key>
				<string>2022/03/03</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AsyncDisplayKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BigInt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CNIOAtomics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CNIODarwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CNIOLinux.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CNIOSHA1.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cryptor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorECC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GRPCClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IGListDiffKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KituraContracts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LoggerAPI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Logging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIOConcurrencyHelpers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PINOperation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PINRemoteImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Pageboy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ProtoRPC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SipHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftJWT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftValidator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyBase64.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyCam.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Tabman.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioChatClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioVideo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>VIMediaCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WRPLibWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>googleapis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9108902AA1FB27A95F140A98E04FB5EE281EED26</string>
						<key>dateExpires</key>
						<string>2022/03/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>65T9QSM7GY</string>
						<key>name</key>
						<string>Global Ride, K.K</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>65T9QSM7GY.com.tlece.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:test-app-tlece-com.azurewebsites.net</string>
					<string>applinks:tlece-com.azurewebsites.net</string>
					<string>applinks:app.tlece.com</string>
					<string>applinks:tlece.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>65T9QSM7GY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Tlece.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>da60bbe0-ec16-4c48-ac0e-4ae12f3aa3e8</string>
				<key>name</key>
				<string>tlece-ipa-provisioning-profile-all-devices</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>65T9QSM7GY</string>
				<key>name</key>
				<string>Global Ride, K.K</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
