body,table {   
  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none 
 
} 
a {  text-decoration: underline; color: #0000FF} 
a:hover {  color: #0000FF; text-decoration: none} 
 
